<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_root"
              name="Resource Reservation"/>

    <menuitem id="menu_resource_reservation"
              name="Resource Reservation"
              parent="menu_root"
              action="action_resource_reservation_act_window"/>

    <menuitem id="menu_resource_detail"
              name="Resource Detail"
              parent="menu_root"
              action="action_resource_detail_act_window"/>

    <menuitem id="menu_resource_configurations"
              name="Configurations"
              parent="menu_root"/>

    <menuitem id="menu_resource_tag"
              name="Resource Tags"
              parent="menu_resource_configurations"
              action="action_resource_reservation_tag_act_window"/>

    <menuitem id="menu_resource_detail_btn"
              name="Resource Create"
              parent="menu_resource_configurations"
              action="action_resource_detail_btn_act_window"/>

</odoo>